*{
  margin: 0%;
  padding: 0%;
  color: #280138;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 10px;
  
 
}
.container{  
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 80px 500px 150px 80px;
grid-template-areas: "navbar navbar navbar navbar"
                     "header header header header"
                     "main   main   main   sidebar"
                     "footer footer footer footer";
}
.navbar{
grid-area: navbar;
box-shadow: #999898 20px 20px 30px;
background-color: rgb(46, 45, 46);
display: flex;
width: auto;
height: 60px;
justify-content:space-between;
align-items: center;



}
.logo{
padding: 20px;
}
.navbar ul{
display: flex;
list-style: none;
margin: 8px;


}
.navbar ul li{
padding: 5px;


}
.navbar ul li a{
text-decoration: none;
color:rgb(252, 253, 253);
font-size: 15px;
text-shadow: #e9e0e9 5px 2px 6px;
}

.header{
grid-area: header;
background-image: url(../img/fisio.jpg);
display:grid;
border-radius: 10px;
padding: 30px;
justify-content:left;
align-items: center;
box-shadow: #080608, 5px 5px;
}

.Gestion{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
color: #280138;
font-weight: 800;
padding: 20px 10px;

}


.header p{
width: 500px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 15px;
font-weight: 600;
color: aliceblue;


}
.main{
grid-area: main;
background-color: rgb(248, 246, 250);
display: flex;
background-image: url(../img/kineUno.jpg);
background-image: url(../img/kineºDos.jpg);
background-size:auto;

}
.sidebar{
grid-area: sidebar;
background-color: rgb(247, 245, 245);

}
.footer{
grid-area: footer;
background-color: rgb(46, 45, 46);
display: flex;
justify-content: end;
align-items: center;
}
.footer ul{
display: flex;
list-style: none;
margin: 8px;
}
.footer ul li{
padding: 5px; 
}
.footer ul li a{
text-decoration: none;
color:rgb(252, 253, 253);
font-size: 15px;
text-shadow: #e9e0e9 5px 2px 6px;
}
/*GRID*/

.asideimg{
  display:flex;
  align-items: unset;
  display: flex;
  margin: 3px 0px;   
  height: 120px;
}


.tarjeta{
display: flex;
flex-direction: column;
width: 250px;
align-items: center;
margin: 10px;
border-radius: 10px;
padding: 10px;

}
.tarjeta__titulo{
font-size: 20px;
margin: 5px 0px;

}
.tarjeta__img{
width: 60%;
}
.tarjeta__text{
text-align: center;
}
.tarjetas{
display: flex;
flex-wrap: wrap;
justify-content:space-around ;
}
.nosotrosimg{
background-image: url(../img/fisio.jpg);
height: 300px;
font-size: 15px;
background-size: cover;
background-repeat: no-repeat;
margin: 10px 0px;
text-align: center;
justify-content: center;
align-items: center;
color: blanchedalmond;

}
.nosotrosimg h1{
font-size: 30px;
font-style: oblique;
font-weight: 100;
color: #280138;
text-align: center;
}
.nosotros p{
color: #fdfcfd;

}
.descrip{
font-size: 15px;
display: flex;
flex-direction: column;
width: 90%;
justify-content: center;
align-items: center;
background-image: url(../img/Kine.jpg);
background-repeat:no-repeat;
margin: 30px 30px;
border-radius: 10px;
padding: 10px;
}
.productos{
display:flex;
flex-wrap: wrap;
justify-content:space-around ;
}

.producto{
display: flex;
flex-direction: column;
width: 200px;
align-items: center;
margin: 14px;
padding: 0px;
}

.producto__img{
width: 50%;
}
.producto__text{
text-align: center;
margin: 10px;
}
.presentation{
height: 300px;
font-size: 20px;
background-size: cover;
background-repeat: no-repeat;
margin: 10px 0px;
text-align: center;
justify-content: center;
align-items: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(../img/fisio.jpg);
}
.presentation h1{
font-size: 50px;
padding: 20px;
font-style: oblique;
color: #37045a;
text-align: center;
}
.presentation p{
font-size: 20px;
}

.Servicios{
background-image: url(../img/fisio.jpg);
height: 300px;
font-size: 13px;
background-size: cover;
background-repeat: no-repeat;
margin: 10px 0px;
text-align: center;
justify-content: center;
align-items: center;
color: blanchedalmond;
}
.Servicios h1{
font-size: 50px;
font-style: oblique;
font-weight: 100;
color: #f862f8;
text-align: center;
}
.Servicios h2{
color: #280138;
}
.Servicios p{
color: #161316;
}

.CajasConsultas{
display: grid;
background-color: #d1a8fa; 
height: 900px;
font-size: 20px;
margin: 10px 0px;
text-align:center;
justify-content:center;
align-items:center;
color: blanchedalmond; 

}
.Maps h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
}
.Maps p{
text-align: left;
padding: 5px 55px; 
font-style: oblique;
}



.cajaOnline{
margin: 50px;
display:grid;
justify-content:center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(min-width:576px){
.nosotrosimg{
  background-image: url(../img/fisio.jpg);
  height: 300px;
  padding: 50px;
  font-size: 17px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(252, 255, 205);

}
.nosotrosimg h1{
  align-content: center;
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  font-weight: 100;
  color: #280138;
  text-align: center;
  box-shadow: #f5f2f5, 5px 5px;
}
}
@media(min-width:576px){
.Servicios{
  background-image: url(../img/fisio.jpg);
  height: 300px;
  font-size: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}
.Servicios h1{
  font-size: 70px;
  font-style: oblique;
  font-weight: 100;
  color: #280138;
  text-align: center;
}
.Servicios h2{
  color: #eeebf0;
}
.Servicios p{
  color: #e9e0e9;
}

.CajasConsultas{
  display: flex;
  background-color: #e7d7f8; 
  height: 500px;
  font-size: 20px;
  margin: 10px 0px;
  text-align:center;
  justify-content:center;
  align-items:center;
  color: #280138; 
  
}

.cajaOnline{
  margin: 50px;
  display:grid;
  justify-content:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Maps h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}
.Maps p{
text-align: left;
padding: 5px 55px; 
font-style: oblique;
}

}