.nosotrosimg{
    background-image: url(../img/fisio.jpg);
    height: 300px;
    font-size: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    h1{
      font-size: 30px;
      font-style: oblique;
      font-weight: 100;
      color: #280138;
      text-align: center;
    }
    p{
      color: #fdfcfd;
    }
   
  }