.Servicios{
    background-image: url(../img/fisio.jpg);
    height: 300px;
    font-size: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    h1{
      font-size: 50px;
      font-style: oblique;
      font-weight: 100;
      color: #f862f8;
      text-align: center;
    }
    h2{
      color: #280138;
    }
    p{
      color: #161316;
    }
  }
  