*{
    margin: 0%;
    padding: 0%;
    color: #280138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 10px;
    
   
}

@import"container";
@import"navbar";
@import"header";
@import"nosotros";
@import"sidebar";
@import"tarjetas";
@import"aside";
@import"footer";
@import"@media";
@import"caja";
@import"descrip";
@import"presentacion";
@import"servicios";















 




/*GRID*/















